/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 7, 2016, Mar 7, 2016 2:14:10 PM
    Author     : Russ
*/
/*---------------hamburger------------------------------------------*/
    /* menu */
@media only screen and (max-width:1023px) {
    .nav .menu {
      clear: both;
      max-height: 0;
      transition: max-height .2s ease-out;
      margin-top:3em;
    }

    /* menu icon */

    .nav .menu-icon {
      cursor: pointer;
      display: inline-block;
      float: left;
      padding: 0px 20px;
      position: relative;
      user-select: none;
    }

    .nav .menu-icon .navicon {
      background: #fff;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 30px;
      margin-top:18px;
    }

    .nav .menu-icon .navicon:before,
    .nav .menu-icon .navicon:after {
      background: #fff;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }

    .nav .menu-icon .navicon:before {
      top: 5px;
    }

    .nav .menu-icon .navicon:after {
      top: -5px;
    }

    /* menu btn */

    .nav .menu-btn {
      display: none;
    }

    .nav .menu-btn:checked ~ .menu {
      max-height: 600px;
    }

    .nav .menu-btn:checked ~ .menu-icon .navicon {
      background: transparent;
    }

    .nav .menu-btn:checked ~ .menu-icon .navicon:before {
      transform: rotate(-45deg);
    }

    .nav .menu-btn:checked ~ .menu-icon .navicon:after {
      transform: rotate(45deg);
    }

    .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0;
    }
    #nav-toggle{
        display:initial;
    }
    .header{
        height: 120px;
        //margin-left:-10px;
    }
    .logo{
        position: relative;
        
    }
   
    .nav{
        position: absolute;
        width: 280px;
        z-index: 2000;
        margin-top: 8px;
        top: 75px;
        //right:0px;
    }
    .nav ul{
        background: rgba(0,0,0,0.8);
        height: auto;
        overflow: hidden;
        margin-left:0px;
        //margin-top: 25px;
    }
    .nav ul li{
        float: none;
        border-bottom: 2px solid #fff;
        border-right:none;
        margin-left: 2em;
        margin-top:5px;
    }
    .nav ul li:last-child {
        border-bottom: none;
        //padding: 10px;
        
    }
    .nav li{
        display:list-item;
        list-style-type: none
    }
    .nav li a {
        font-size:2em;
        color: #fff;
    }
    .homePageContent{
        top:-12px;
    }
}
